/* Header */
header {
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: burlywood;
    gap: 20px;
    padding: 5px 20px;
}

header > nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

header a {
    text-decoration: none;
}

.search-container {
    margin-left: auto;
}

.search-container > form {
    display: flex;
    gap: 20px;
}

.search-container > form > input {
    padding: 10px;
    font-size: 1rem;
}

.search-container > form > button {
    cursor: pointer;
    width: 70px;
    border: none;
}