<a href="products/product/<%= product.id %>" class="product-card">
    <img src=<%= product.image_url %> alt="product-picture">
    <div class="product-card_text">
        <h5><%= product.product_name %></h5>
        <p>$<%= product.price %></p>
    </div>
</a>