<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="/public/css/header.css">
</head>
<body>
    <%- include("header") %>
    <main>
        <h1>Welcome</h1>
        <p>This website was created to store clothes, but you can use it to store anything you want. In the header, you'll find
        links that will redirect you to all categories and brands, and you can also create more if you'd like. So feel free to
        use this page however you want!
        </p>
    </main>
</body>
</html>